node-options="--openssl-legacy-provider"

# This node-option setting allows us to run our project despite a bug from an older version of node this project uses
# See: https://stackoverflow.com/questions/69692842/error-message-error0308010cdigital-envelope-routinesunsupported
# and See: https://github.com/nodejs/node/issues/40455#issuecomment-1527619752