@import '@fontsource/inter';

/* Consistent Scrollbars for all browsers and 
platforms (Makes windows scrollbars prettier) */

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, 0.375);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: gray;
}
